body {
    background-image: linear-gradient(45deg, 
        #000000 20%, 
        rgba(216, 22, 189, 0.6) 50%, 
        #000000 80%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    font-family: 'Dela Gothic One', sans-serif;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto; /* Хедер, контент, футер */
}

.head {
    display: grid;
    grid-template-columns: auto auto; /* Левая и правая часть */
    justify-content: space-between;
    align-items: center;
    padding: 51px 47px;
}

.hamburger {
    display: grid;
    gap: 15px;
    width: 90px;
    filter: drop-shadow(5px 5px 10px rgba(255, 255, 255, 0.5));
}
  
.hamburger div {
    width: 90px;
    height: 15px;
    background-color: white;
    border-radius: 3px;
}

.head-icons {
    display: grid;
    grid-auto-flow: column;
    gap: 80px;
    filter: invert(1) drop-shadow(5px 5px 10px rgba(255, 255, 255, 0.5));
}

.head-icons img {
    width: 90px;
    height: 90px;
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out, background 0.3s ease-out;
}

.head-icons img:hover {
    transform: scale(1.3) translateY(-5px);
}


.title, .what-seen-title {
    font-size: 60px;
    color: white;
    text-align: left;
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(5px 5px 10px rgba(255, 255, 255, 0.1));
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 150px;
}

.good-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    filter: drop-shadow(5px 5px 10px rgba(255, 255, 255, 0.3));
}

.good-card img {
    width: 304px;
    height: 304px;
    border-radius: 15px;
    filter: blur(22px);
    transition: filter 0.3s ease-in-out;
}

.good-card img:hover {
    filter: blur(0);
}


/* .what-seen-title {
    font-size: 60px;
    color: white;
    text-align: left;
    display: block;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;

    filter: drop-shadow(5px 5px 10px rgba(255, 255, 255, 0.1));
} */
